  

<div class="" *ngIf="isAdmin">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="col-md-1"></div>
      <a class="navbar-brand text-bold" href="#">
        <img    width="200"  height="50"  alt="Bulsho Logo"  src="../../assets/Logo-bulsho.png"/>         
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/admin/booking"><strong>Reservations</strong></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/admin/rentals"><strong>Rentals</strong></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link " routerLink="/admin/users"><strong>Users</strong></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/admin/cars"><strong>Cars</strong></a>
           </li> 
           <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/admin/locations"><strong>Locations</strong></a>
           </li> 
           <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/" (click)="logout()"><strong>Logout</strong></a>
           </li> 

        </ul>
      </div>
      <div class="col-md-3"></div>

    </div>
  </nav>

</div> 

    <!-- <div class="navbar navbar-light bg-light col-md-1">
    </div> -->
  <div class="" *ngIf="!isAdmin">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <div class="col-md-1"></div>
        <a class="navbar-brand text-bold" href="#">
          <img    width="200"  height="50"  alt="Bulsho Logo"  src="../../assets/Logo-bulsho.png"/>         
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/search"><strong>Home</strong></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link " routerLink="/contact"><strong>Contacts</strong></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/about"><strong>About</strong></a>
          </ul>
        </div>
        <div class="col-md-3"></div>

      </div>
    </nav>
  
  </div> 
