<div class="container-fluid">
    <div *ngIf="showBookingList" class="row">
        <div class="col-md-2 mt-1">
          <div>  </div>
        </div>

        <div class="col-md-8  card mt-1">
          <!--td><a href="#" style="cursor:pointer" routerLink="/cars" (click)="manageCar()">Edit</a> | 
            <a href="#" style="cursor:pointer" routerLink="/cars" (click)="manageCar()"> Delete</a> </td-->
        <form [formGroup]="rentalForm" (ngSubmit)="manageCar()">
            <div class="row mt-3">
             <div class="col-md-5"> <h5>Reservations</h5> </div>
             <div class="col-md-3"><input class="form-control me-2" formControlName="search" type="text" placeholder="Booking number or email"></div>  
             <div class="col-md-2">
                <button class="btn btn-outline-secondary" (click)="getReservationsByRefId()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                  Search
                </button>
              </div> 
              <div class="col-md-2">
                <button class="btn btn-outline-secondary" (click)="newRent()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0"/>
                  </svg>
                    New Rent
                </button>
              </div> 
              </div>

            <div class="card  mt-2">
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Ref-no</th>
                            <th scope="col">Car-Type</th>
                            <th scope="col">Start-date</th>
                            <th scope="col">Charge</th>
                            <th scope="col">Name</th>
                            <th scope="col">Telephone</th>
                            <th scope="col">Action</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let booking of querySnapshotList | keyvalue 
                          paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPages }">
                            <td>{{booking.value["bookedDate"]}}</td>
                            <td>{{booking.value["bookingId"]}}</td>
                            <td>{{booking.value["carType"]}}</td>
                            <td>{{booking.value["pickupDate"]}}</td>
                            <td>{{booking.value["totalCharge"] | currency}}</td>
                            <td>{{booking.value["name"]}}</td>
                            <td>{{booking.value["telefone"]}}</td>
                            
                           <div *ngIf="booking.value['status'] !== 'Rented' && booking.value['status'] !== 'Returned'">
                            <td><a  style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Show this booking" (click)="editBooking(booking)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg>
                            </a> | 
                              <!-- <a  style="cursor:pointer"  (click)="cancelReservation(booking.key)"> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                              </svg>
                                </a> | -->
                                <a  style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Process this rent " (click)="rentIt(booking.key, booking)"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512">
                                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                        <path d="M135.2 117.4L109.1 192H402.9l-26.1-74.6C372.3 104.6 360.2 96 346.6 96H165.4c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32H346.6c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2V400v48c0 17.7-14.3 32-32 32H448c-17.7 0-32-14.3-32-32V400H96v48c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V400 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/>
                                    </svg>
                                </a> 
  
                            </td>
                          </div>
                          </tr>
                        </tbody>
                      </table>
                      <div class="center"><pagination-controls (pageChange)="page = $event"></pagination-controls></div> 
                </div>
            </div>
          </form>
          
          <!-- TABLE SEARCH BEGIN-->
          <!-- TABLE SEARCH END-->
          <br>
        </div>
    </div>
 
    <!----  Begin detail page-->

    <div *ngIf="isBookingInfo" class="row">
      <div class="col-md-2 mt-2">
        <div>  </div>
      </div>
    
      <div class="col-md-8  card mt-1">
        <div>      
            <td class="col-md-2">
              <span><strong>Start Date: </strong> &nbsp; {{showBookingInfo.value["pickupDate"]}}</span>&nbsp;&nbsp;
              <span><strong>End Date: </strong> &nbsp;{{showBookingInfo.value["dropoffDate"]}}</span>&nbsp;&nbsp;
              <span><strong>Email: </strong>&nbsp;{{showBookingInfo.value["email"]}}</span>&nbsp;&nbsp;
              <span><strong>Status: </strong>&nbsp; {{showBookingInfo.value["status"]}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span> 
                <a  style="cursor:pointer"  data-toggle="tooltip" data-placement="top" title="Cancel this booking!!!" (click)="cancelReservation(showBookingInfo.key, showBookingInfo.value['status'] )">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                </svg>
              </a></span>
              <span> | 
                <a  style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Ok" (click)="acceptReservation(showBookingInfo.key, showBookingInfo.value['status'])"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                  </svg>
                </a></span>
            </td>         
        </div>
      </div>
    </div>
    <!----   End of detail page-->
 <!--  BEGIN -->
 <div *ngIf="!showBookingList" class="row">

  <div class="col-md-2 mt-1">
    <div>  </div>
  </div>
  
  <div class="col-md-8  card mt-1">
   <h5 class="t">{{ rentalAction }}</h5>
   <!--  Beginning of card -->
  <form [formGroup]="rentalForm" (ngSubmit)="manageCar()">
    <div class="mt-1">
      <td class="col-md-2">
        <div class="input-group">
          <span class="input-group-text">Full name</span>
        <input type="text" class="form-control" placeholder="Full name " formControlName="fullname">
        <!-- <span *ngIf="bookingFormControl.fname.invalid && (bookingFormControl.fname?.dirty || bookingFormControl.fname?.touched || submitted)" class="text-danger"> <small>First name is required</small></span> -->
        </div>
      </td>
      <td class="col-md-2">
        <div class="input-group">
          <span class="input-group-text">Nick name</span>
          <input type="text" class="form-control" placeholder="Nick name " formControlName="nname">
          <!-- <span *ngIf="bookingFormControl.lname.invalid && (bookingFormControl.lname?.dirty || bookingFormControl.lname?.touched || submitted)" class="text-danger"> <small>Last name is required</small></span> -->
        </div>
      </td>

    </div>
            <div class="mt-1">
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Telephone</span>        
                <input type="text" id="telephone" class="form-control" placeholder="Telephone " formControlName="telephone">
                <!-- <span *ngIf="bookingFormControl.fname.invalid && (bookingFormControl.fname?.dirty || bookingFormControl.fname?.touched || submitted)" class="text-danger"> <small>First name is required</small></span> -->
              </div>  
              </td>
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Email</span>        
                <input type="email" id="Email" class="form-control" placeholder="Email" formControlName="email">
                <!-- <span *ngIf="bookingFormControl.lname.invalid && (bookingFormControl.lname?.dirty || bookingFormControl.lname?.touched || submitted)" class="text-danger"> <small>Last name is required</small></span> -->
                </div>
              </td>
            </div>

            <div class="mt-1">
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Work</span>        

                <input type="text" class="form-control" placeholder="Work " formControlName="work">
                <!-- <span *ngIf="bookingFormControl.fname.invalid && (bookingFormControl.fname?.dirty || bookingFormControl.fname?.touched || submitted)" class="text-danger"> <small>First name is required</small></span> -->
              </div>  
              </td>
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Co-Signer</span>        
                <input type="text" class="form-control" placeholder="Co-Signer name" formControlName="cosignerName">
                <!-- <span *ngIf="bookingFormControl.lname.invalid && (bookingFormControl.lname?.dirty || bookingFormControl.lname?.touched || submitted)" class="text-danger"> <small>Last name is required</small></span> -->
              </div>  
              </td>
            </div>

            <div class="mt-1">
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Co-Signer Tel</span>        
                <input type="text" class="form-control" placeholder="Co-Signer telephone " formControlName="cosignerTelephone">
                <!-- <span *ngIf="bookingFormControl.fname.invalid && (bookingFormControl.fname?.dirty || bookingFormControl.fname?.touched || submitted)" class="text-danger"> <small>First name is required</small></span> -->
                </div>  
              </td>
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Co-Sig work</span>        
                <input type="text" class="form-control" placeholder="Co-Signer work" formControlName="cosignerWork">
                <!-- <span *ngIf="bookingFormControl.lname.invalid && (bookingFormControl.lname?.dirty || bookingFormControl.lname?.touched || submitted)" class="text-danger"> <small>Last name is required</small></span> -->
                </div>
              </td>
            </div>
            
            <br>

            <div class="mt-1">
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Location</span>        
                <input type="text" class="form-control" formControlName="location" placeholder="Location" name="location">
                </div>
              </td>

              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Car type</span>     
                <select class="form-select form-select-sm" aria-label=".form-select-sm"  formControlName="type" #type (change)="onChangeType(type.value)">
                  <option selected>Type</option>
                  <option value="Compact">Compact</option>
                  <option value="Full-Size">Full-Size</option>
                  <option value="SUV">SUV</option>
                  <option value="Luxury">Luxury</option>
                </select>
                </div>
              </td>
            </div>

            <div class="mt-1">
              <td class="col-md-2">       
                <div class="input-group">
                  <span class="input-group-text">Rent date</span>       
                <input type="date"   class="form-control" placeholder="Pick-up date" aria-label="Pick-up date" formControlName="pickupDate" (change)="onChange()">
                <!-- <span *ngIf="searchFormControl.pickupDate?.invalid && (searchFormControl.pickupDate?.dirty || searchFormControl.pickupDate?.touched || submitted)" class="text-danger"> <small>Pick-up date is required</small></span> -->
              </div>  
              </td>    
                <td class="col-md-2">
                  <div class="input-group">
                    <span class="input-group-text">Return date</span>     
                <input type="date"  class="form-control" placeholder="Drop-off date" aria-label="Drop-off date" formControlName="dropoffDate">
                <!-- <span *ngIf="searchFormControl.dropoffDate?.invalid && (searchFormControl.dropoffDate?.dirty || searchFormControl.dropoffDate?.touched || submitted)" class="text-danger"> <small>Drop-off date is required</small></span> -->
              </div>  
              </td>
            </div>

            <div class="mt-1">
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Registration</span>     
                  <input type="text" class="form-control" formControlName="registration" placeholder="Car registration" name="registration">
                </div> 
                  <span *ngIf="rentalFormControl.registration.invalid && (rentalFormControl.registration?.dirty || rentalFormControl.registration?.touched || submitted)" class="text-danger"> <small>Registration is required</small></span>
              </td>
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Price</span>     
                <input formControlName="price" type="text" class="form-control"  placeholder="$ Rent per day" >
              </div>  
              </td>
            </div>

            <div class="mt-1">
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Discount</span>     
                <input type="text" id="discount" class="form-control" placeholder="Discount" formControlName="discount">
                <!-- <span *ngIf="bookingFormControl.fname.invalid && (bookingFormControl.fname?.dirty || bookingFormControl.fname?.touched || submitted)" class="text-danger"> <small>First name is required</small></span> -->
               </div> 
              </td>
              <td class="col-md-2">
                <div class="input-group">
                  <span class="input-group-text">Total</span>     
                <input type="text" id="totalCharge" class="form-control" placeholder="$ Total charge" formControlName="totalCharge">
                <!-- <span *ngIf="bookingFormControl.lname.invalid && (bookingFormControl.lname?.dirty || bookingFormControl.lname?.touched || submitted)" class="text-danger"> <small>Last name is required</small></span> -->
              </div>  
              </td>
            </div>

            <div class="mt-1">
              <div class="input-group">
                <span class="input-group-text">Comment</span>     
              <input type="text" class="form-control" formControlName="comment" placeholder="Comment" name="comment">
              </div>
            </div>


          <div class="mt-1">
            <td class="col-md-2"> <button type="button" class="btn btn-outline-secondary mt-2"  (click)="cancelRental()" >
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
              </svg> 
              &nbsp; Cancel</button>
            </td>
                        
            <td class="col-md-2"> <button type="button" class="btn btn-outline-secondary mt-2"  (click)="saveRental()" >
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
              </svg>
              &nbsp; Rent </button>
            </td>
          </div>
   </form>
 <br>
    <!-- End of card -->
</div>
 <!-- END -->
  </div>
  <br>
</div>


