<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-2">
          <div class="card border-0 shadow p-3">
          <h5 class="t">{{ locAction }}</h5>
           <!--  Beginning of card -->
          <form [formGroup]="locationForm" (ngSubmit)="manageCar()">
  
                   <div class="mt-2">
                        <input type="text" class="form-control" formControlName="location" placeholder="Location" name="location" ngModel>
                    </div>
                   
                    <div class="mt-2">
                        <input type="text" class="form-control" formControlName="address" placeholder="Address" name="address" ngModel>
                    </div>
  
                    <div class="mt-2">
                      <input formControlName="telephone" type="text" class="form-control"  placeholder="Telephone" name="telephone" ngModel >
                    </div>

                    <div class="mt-2">
                        <input formControlName="picture" type="text" class="form-control"  placeholder="Picture" name="picture" ngModel >
                      </div>
  
                   <tr>
                    <td class="col-md-1"> <button type="button" class="btn btn-outline-secondary mt-4" routerLink="/locations" (click)=" clearForm()" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                      </svg> 
                      &nbsp; Cancel</button></td>
                    <td class="col-md-1"> <button type="button" class="btn btn-outline-secondary mt-4" routerLink="/locations" (click)=" saveLocation()" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
                        <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293z"/>
                      </svg>
                      &nbsp; Save </button></td>
                     
                   </tr>
           </form>
          </div>

            <!-- End of card -->
        </div>

        <div class="col-md-8 mt-2 card border-0 shadow p-3">
          <h5 class="t">Locations</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Location</th>
                            <th scope="col">Address</th>
                            <th scope="col">Telephone</th>
                            <th scope="col">Picture</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let loc of locsData | async 
                          paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPages }">
                            <td>{{loc.location}}</td>
                            <td>{{loc.address}}</td>
                            <td>{{loc.telephone}}</td>
                            <td>{{loc.picture}}</td>
                            <td><a style="cursor:pointer" (click)="editLoc(loc)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg>
                              </a> | 
                              <a style="cursor:pointer" (click)="deleteLoc(loc.id)"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                              </a> </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="center"><pagination-controls (pageChange)="page = $event"></pagination-controls></div> 
                </div>
            </div>
        </div>
    </div>
  </div>


