<div class="container-fluid">
<div class="row">
    <div class="col-md-1 mt-1">
    </div>
    <div class="col-md-7">
        <br>
        <!-- <h3 class="mt-2 mb-3"> Bulsho Car Rental Services </h3> -->
        <p> We are one of the leading car rentals in Mogadishu, Somalia. We offer convenient car rental options for tourists, businessmen and VIP officials.  The company was established in April 15, 2020 and had been providing rental service ever since. It provides cheapest car rental rates for self drive, chauffeur drive, drop off and airline crew shuttle. Furthermore, we provide car service rentals for special occasions, such as conventions, weddings and debuts.

            <br><br>We offer a variety of vehicles such us TOYOTA CAROLLA, TOYOTA PREMIO, TOYOTA HARRIER, TOYOTA SURF, TUSCAN , HIACE & LAND CRUISER  PRADO, which are carefully maintained. 
            Plus, all vehicle rates are flexible hence Bulsho Car Rental Services  is inviting everyone to drive and have a convenient travel through its practical and easy rent a car service.
           <br><br>
            <strong>OUR VISSION</strong>
           <br>       To promote a friendly, secured and safety transportation services for the clients and build trust and confidence to attain excellence of service.
           
           <br><br><strong>OUR MISSION</strong>
           <br>To stipulate the necessary reinforcement through provision of good cars, and dedicated employees that is sensitive and responsive to the needs of clients and promote quality of service to enhance competitiveness.
           
           <br><br>
           <strong>OUR VALUES</strong> 
           <br>Our business is known for the practical rental rate choices. We consider an ethical standards towards our employees and clients, and focus on our client’s safety, comfort, and satisfaction.
        </p>
        <br>
     </div>

</div>
</div>