<div class="container-fluid">

<div class="row">
    <div class="col-md-1 mt-1">
    </div>
    <div class="col-md-4">
        <br>
        <br>
        <h5 i18n>Location:  Mogadishu, Somalia </h5>
        <h5 i18n>Email: bulshocarrentals@gmail.com</h5>
        <h5 i18n>Mobile:  + 252 648 89090 |  0648 89090</h5>
        <h5 i18n>Office:       854399 </h5>
    <br>
   
    </div>

    <div class="col-md-6 mt-5" style="margin-right: 10px;">
        <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=Dabka,%20Mogadishu,%20Somalia&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 490px; height: 400px;"></iframe><style>.mapouter{position:relative;height:400px;width:490px;background:#fff;} .maprouter a{color:#fff !important;position:absolute !important;top:0 !important;z-index:0 !important;}</style><a href="https://blooketjoin.org">blooketjoin</a><style>.gmap_canvas{overflow:hidden;height:400px;width:490px}.gmap_canvas iframe{position:relative;z-index:2}</style></div></div>
    </div>
</div>
</div>
