<div class="container-fluid">

<div class="row">
    <div class="col-md-1 mt-1">
    </div>
    <div class="col-md-4">
        <br>
        <br>
        <h5 i18n>Location: Erdoğan Rd, Mogadishu, Somalia </h5>
        <h5 i18n>Email: bulshocarrentals@gmail.com</h5>
        <h5 i18n>Mobile:  + 252 648 89090 |  0648 89090</h5>
        <h5 i18n>Office:       854399 </h5>
    <br>
</div>
    <div class="col-md-6 mt-5" style="margin-right: 10px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.295172952134!2d45.29989937472632!3d2.0377704979439053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3d5843ec65ff7f43%3A0x943a5b3ff91ba284!2sBulsho%20Car%20Rental!5e0!3m2!1sen!2ske!4v1704532102509!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>
