
      #file-input {
        display: none;
      }

      #file-input-label {
        font-size: 1.3em;
        padding: 10px 10px;
        border: 1px solid black;
        border-radius: 6%;
      }
