h6
h5
h4
h3{
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid{
  background: linear-gradient(rgba(0, 0, 0, 0), hsl(150, 8%, 95%)), url(../../assets/background.jpg);
}

@media (max-width: 640px) {
  .THIS input[type="date"]:before {
      content: 'yourcontent' !important;
  }

  .THIS input[type="date"]:focus:before {
      content: '' !important;
  }

  .THIS input[type="date"] {
      display: flex;
  }
}