<div class="container-fluid">
    <div class="row">
      <div class="col-md-1 mt-1"></div>
  
      <div class="col-md-8 mt-1">
        <div class="row">
          <!-- <div class="shadow p-1"><img    width="100%" height="100"   alt="Bulsho Logo"  src="../../assets/JaziiraBeach.jpg"/></div> -->
        </div>

        <div class="row" *ngFor="let car of querySnapshotList | keyvalue">
          
          <div class="card  p-1 mt-1" style="width: 100%;">
            <img *ngIf="car.value['type'] == 'SUV'" src="../../assets/cars/Toyota_surf_black.png" class="card-img-top" alt="...">
            <img *ngIf="car.value['type'] == 'Full-Size'" src="../../assets/cars/Toyota_Camry_red.png" class="card-img-top" alt="...">
            <img *ngIf="car.value['type'] == 'Compact'" src="../../assets/cars/Toyota_Carolla_white.png" class="card-img-top" alt="...">
            <img *ngIf="car.value['type'] == 'Luxury'" src="../../assets/cars/Toyota_surf_grey.png" class="card-img-top" alt="...">

            <div class="card-body">
             <div class="text-section">
                <h5 class="card-title fw-bold">{{car.value['type']}}</h5>
              <p>{{car.value['make']}} - {{car.value['model']}} or similar</p>
              <p class="card-text">{{car.value['location']}} </p>
             </div>
              <div class="cta-section">
                      <div card="card-amount"><strong>{{car.value['price'] | currency}}</strong></div>  

                 <div> 
                  <div> 
                    <a href="#" class="btn btn-primary" routerLink="/booking" (click)="carBooking(car.key, car.value)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                      </svg>
                     &nbsp; Reserve</a> 
                  </div>
                </div>
            </div>
          </div>
        </div>          
      </div>

    <!--button type="button" class="btn btn-primary" routerLink="/search"> &nbsp; &nbsp;Back &nbsp; </button--> 

    <!-- Beging -->
    <div class="row">
          
      <div class="card  mt-1" style="width: 100%; background-image: url('../../assets/background.jpg');">
        <div class="card-body">
         <div class="text-section">    </div>
          <div class="cta-section"> <div card="card-amount"></div>  <div> 
              <div> 
                <a href="#" class="w-100 btn btn-primary" routerLink="/search"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
                    <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z"/>
                  </svg>
                  &nbsp; &nbsp;Back &nbsp; </a> 
              </div>
            </div>
        </div>
      </div>
    </div>          
  </div>
    <!-- END -->

    <br> <br>

  </div>

  </div>